In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error


df = pd.read_csv("Datasets/Advertising.csv")
feature_cols = ["TV", "radio", "newspaper"]

# Use the top 150 companies to train the Linear Regression Model
X_train = df[feature_cols][:150]
Y_train = df.sales[:150]

# TODO: Instansiate the model (Linear Regression) and train it

# TODO: Predict the botton 50 companies' sales

In [2]:
from sklearn.linear_model import LinearRegression

lr_reg = LinearRegression()

lr_reg.fit(X_train, Y_train)

print(lr_reg.coef_)

print(lr_reg.intercept_)

[ 0.04700012  0.17993257 -0.00140273]
3.029766796293691

In [3]:
(0.0470001*X_train.values[0,0])+(0.17993257*X_train.values[0,1])+(-0.00140273*X_train.values[0,2])+3.029766796293691

20.548872036293687

In [4]:
Y_train.values[0]

22.1

In [5]:
X_train

        TV  radio  newspaper
0    230.1   37.8       69.2
1     44.5   39.3       45.1
2     17.2   45.9       69.3
3    151.5   41.3       58.5
4    180.8   10.8       58.4
..     ...    ...        ...
145  140.3    1.9        9.0
146  240.1    7.3        8.7
147  243.2   49.0       44.3
148   38.0   40.3       11.9
149   44.7   25.8       20.6

[150 rows x 3 columns]

In [6]:
# TV,radio,newspaper,sales
# 230.1,37.8,69.2,22.1
# X_train.values[0,0] is TV advertisement for company 1
# X_train.values[0,1] is Radio advertisement for company 1
# X_train.values[0,2] is Newspaper advertisement for company 1
# Y_train.values[0] is Sale prediction for company 1

In [7]:
# model is predicting the sale amount to be 20.548 but it should be 22.1

In [8]:
# Bottom 50 company
X_test = df[feature_cols][-50:]
Y_test = df.sales[-50:]
Y_prediction = lr_reg.predict(X_test)
Y_prediction

array([18.67186188, 10.15990172, 16.48950045, 18.17132726, 15.63964047,
        5.30168953, 15.19930681, 10.27021058, 10.15577653, 12.48190724,
       14.35100299, 13.43010832, 15.10545883, 17.32542469, 11.17561481,
       14.54411372, 10.60623457, 13.6578278 , 17.31920373, 18.29020846,
        7.44118029, 14.4553876 ,  7.54376735, 12.20415315, 14.07598825,
       24.7841683 , 20.11008458, 12.38328494, 16.41529992, 12.58762415,
       10.84616747, 14.23249384,  6.65512798, 24.18338541, 18.74887883,
       20.75225663,  9.92682913, 17.15002463, 18.96767352,  6.05302918,
       12.27336433,  8.51313117,  4.53156602, 18.42150484, 16.46286778,
        5.47156415,  8.32748549, 13.01318332, 23.82330766, 15.4737108 ])

In [9]:
# Compare y_prediction against actual value y_test
print(mean_squared_error(Y_test, Y_prediction))
print(r2_score(Y_test, Y_prediction))

2.66702486838371
0.8963519785440216

In [10]:
(0.0470001*100)+(0.17993257*100)+(-0.00140273*20)+3.029766796293691

25.694979196293687

In [12]:
lr_reg.predict([[100,100,20]])

array([25.69498118])

In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

# Read in the CSV file
df = pd.read_csv('Datasets/Advertising.csv')
feature_cols = ["TV", "radio", "newspaper"]

# Print out the first 5 rows of each column in a readable format
# print(df.head())

# Use the top 150 companies to train the Linear Regression Model
X_train = df[feature_cols][:150]
Y_train = df.sales[:150]

# TODO: Instansiate the model (Linear Regression) and train it
print("Generating a linear regression on the top 150 companies (first one)")
lr_reg = LinearRegression()
lr_reg.fit(X_train, Y_train)

print("\nPrinting the coefficient and y intercept of our first 150 sales")
print(lr_reg.coef_)
print(lr_reg.intercept_)

# Predict the botton 50 companies' sales
X_test = df[feature_cols][-50:]
Y_test = df.sales[-50:]
print("\nPredicting the sales of the bottom 50 companies (last ones)")
print(lr_reg.predict(X_test))

print(lr_reg.score(X_test, Y_test))
print(r2_score(Y_test, lr_reg.predict(X_test)))

Generating a linear regression on the top 150 companies (first one)

Printing the coefficient and y intercept of our first 150 sales
[ 0.04700012  0.17993257 -0.00140273]
3.029766796293691

Predicting the sales of the bottom 50 companies (last ones)
[18.67186188 10.15990172 16.48950045 18.17132726 15.63964047  5.30168953
 15.19930681 10.27021058 10.15577653 12.48190724 14.35100299 13.43010832
 15.10545883 17.32542469 11.17561481 14.54411372 10.60623457 13.6578278
 17.31920373 18.29020846  7.44118029 14.4553876   7.54376735 12.20415315
 14.07598825 24.7841683  20.11008458 12.38328494 16.41529992 12.58762415
 10.84616747 14.23249384  6.65512798 24.18338541 18.74887883 20.75225663
  9.92682913 17.15002463 18.96767352  6.05302918 12.27336433  8.51313117
  4.53156602 18.42150484 16.46286778  5.47156415  8.32748549 13.01318332
 23.82330766 15.4737108 ]
0.8963519785440216
0.8963519785440216